{% load static %}
{% load base_tmplatetags %}

<!DOCTYPE HTML>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{% block keywords %} {% endblock keywords %}">
    <meta name="description" content="{% block description %} {% endblock description %}">

    <title>
        مجازآموز | {% block title %} {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="icon" href="{% static 'favicon.ico' %}">

</head>

<body>



    
    <!-- Header -->
    <header id="website-header" class="fixed-top">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">

            <!-- Header navbar brand -->
            <section class="navbar-brand d-inline-flex">

                <!-- Website brand title -->
                <h4 class="ml-2 mt-2">
                    <a class="link" href="/">
                        مجاز آموز
                    </a>
                </h4>
                <!-- End Website brand title -->

            </section>
            <!-- End Header navbar brand -->


            <!-- Navbar collapse buttton -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav">
                <i class="navbar-toggler-icon"></i>
            </button>
            <!-- End Navbar collapse buttton -->




            <!-- Navbar navs -->
            <section class="collapse navbar-collapse" id="nav">
                <!-- Navbar items -->
                <ul class="navbar-nav bg-info m-0 mr-lg-auto p-3 p-lg-0 pt-4">
                    <li class="d-inline d-lg-none">
                        <button data-toggle="collapse" data-target="#nav" class="close float-right">&times;</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-truncate" href="/">خانه</a>
                    </li>



                   {% navbar_tutorial_categories %}



                    <li class="nav-item">
                        <a href="#exams-dropdown" class="nav-link text-truncate dropdown-toggle"
                            data-toggle="dropdown">آزمون ها</a>


                        <!-- School types dropdown -->
                        <section id="exams-dropdown" class="dropdown">
                            <ul class="dropdown-menu bg-lightblue">

                                <li class="dropdown-item">
                                    <a href="#exams-school" data-toggle="dropdown" class="dropdown-toggle">دبستان</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#exams-middle-school" data-toggle="dropdown" class="dropdown-toggle">متوسطه
                                        اول</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#exams-high-school" data-toggle="dropdown" class="dropdown-toggle">متوسطه
                                        دوم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">تمامی پایه ها</a>
                                </li>

                            </ul>
                        </section>
                        <!-- End School types dropdown -->


                        <!-- School grades -->
                        <section id="exams-school" class="dropdown">
                            <ul class="dropdown-menu bg-lightblue">

                                <li class="dropdown-item">
                                    <a href="#">اول</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">دوم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">سوم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">چهارم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">پنجم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">ششم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">تمامی پایه های دبستان</a>
                                </li>

                            </ul>
                        </section>
                        <!-- End School grades -->

                        <!-- Middle school grades -->
                        <section id="exams-middle-school" class="dropdown">
                            <ul class="dropdown-menu bg-lightblue">

                                <li class="dropdown-item">
                                    <a href="#">هفتم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">هشتم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">نهم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#">تمامی پایه های متوسطه اول</a>
                                </li>

                            </ul>
                        </section>
                        <!-- End Middle school grades -->

                        <!-- High school grades -->
                        <section id="exams-high-school" class="dropdown">
                            <ul class="dropdown-menu bg-lightblue">

                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-item">دهم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-item">یازدهم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-item">دوازدهم</a>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-item">تمامی پایه های متوسطه دوم</a>
                                </li>

                            </ul>
                        </section>
                        <!-- End High school grades -->

                    </li>




                    <li class="nav-item">
                        <a class="nav-link text-truncate" href="#">رتبه بندی کاربران</a>
                    </li>
                    
                    <li class="nav-item d-lg-none">
                        {% if user.is_authenticated %}
                            <a class="nav-link text-truncate" href="#">حساب کاربری</a>
                        {% else %}
                            <a href="{% url 'authentication:login' %}" class="nav-link text-truncate">ورود</a>
                        {% endif %}
                    </li>


                </ul>
                <!-- End Navbar items -->
            </section>
            <!-- End Navbar navs -->







            <!-- User panel -->
            <section class="d-none d-lg-block">

                
                {% if user.is_authenticated %}
                    <button type="button" class="border-0 bg-transparent" data-target="#user-manage-dropdown"
                        data-toggle="dropdown">
                        <i class="fa fa-angle-down"></i>
                    </button>


                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="ناحیه کابری">
                        <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
                    </a>


                    <!-- Dropdown -->
                    <section class="dropleft left-0">
                        <ul class="dropdown-menu text-center left-0">
                            <li class="dropdown-header">{{ user.get_full_name }}</li>

                            <section class="dropdown-divider"></section>

                            <li class="dropdown-item">
                                <a href="#">
                                    پنل کاربری
                                </a>
                            </li>

                            
                            {% if user.is_staff %}
                                <li class="dropdown-item">
                                    <a href="/admin">
                                        پنل ادمین
                                    </a>
                                </li>
                            {% endif %}

                            <section class="dropdown-divider"></section>

                            <li class="dropdown-item">
                                <form method="POST" action="{% url 'authentication:logout' %}">
                                    {% csrf_token %}

                                    <input type="hidden" name="next" value="{{request.get_full_path}}">

                                    <button type="submit" style="border: none; background-color: transparent;">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        خروج از حساب کاربری
                                    </button>

                                </form>
                            </li>
                        </ul>
                    </section>
                    <!-- End Dropdown -->
                {% else %}
                    <a href="{% url 'authentication:login' %}" class="nav-link text-truncate">ورود</a>
                {% endif %}

            </section>
            <!-- End User panel -->



        </nav>
        <!-- End Navbar -->
    </header>
    <!-- End Header -->




    <!-- Main content -->
    <main>
        
        {% block content %}
            
        {% endblock content %}
            
    </main>
    <!-- End Main content -->





    <!-- Footer -->
    <footer class="bg-dark py-5 container-fluid">
        <section class="container text-white text-center">
            <section class="row">
                <!-- Right side (Links) -->
                <section class="col-md-7 text-md-left">

                    <h3 class="mt-3 ml-3">دسترسی سریع</h3>

                    <!-- Links -->
                    <ul class="red-circle-liststyle mt-4 pl-3">
                        <li>
                            <a href="#" class=" text-light">رتبه بندی اعضا</a>
                        </li>

                        <li>
                            <a href="#" class=" text-light">آزمون ها</a>
                        </li>

                        <li>
                            <a href="#" class=" text-light">آموزش ها</a>
                        </li>

                        <li>
                            <a href="#" class=" text-light">درباره ما</a>
                        </li>

                        <li>
                            <a href="#" class=" text-light">تماس با ما</a>
                        </li>
                    </ul>
                    <!-- End Links -->
                </section>
                <!-- End Right side (Links) -->


                <!-- Left side -->
                <section class="col-md-5 text-center">

                    <!-- Social networks -->
                    <h3 class=" mt-3">شبکه های اجتماعی</h3>
                    <section class="mt-3">
                        <a href="#" class="text-white mx-2">
                            <i class="fa fa-2x fa-instagram"></i>
                        </a>

                        <a href="#" class="text-white mx-2">
                            <i class="fa fa-2x fa-telegram"></i>
                        </a>

                        <a href="#" class="text-white mx-2">
                            <i class="fa fa-2x fa-youtube"></i>
                        </a>

                    </section>
                    <!-- End Social networks -->

                    <!-- Subscribe newsletter -->
                    <h3 class="mt-3 mt-3">اشتراک در خبرنامه</h3>

                    <section class="mt-4">
                        <form id="subscribe-newsletter-form" action="#" method="GET">
                            <section class="row mx-0 h-100">
                                <input type="email" name="Email" id="subscribe-newsletter-form-email"
                                    oninvalid="this.setCustomValidity('ایمیل را  به صورت کامل وارد کنید')"
                                    placeholder="ایمیل" onchange="this.setCustomValidity('')" class="col-8 mx-0 h-100"
                                    required>
                                <button type="submit" class="col-4 mx-0 btn btn-success rounded-0 h-100">
                                    عضویت
                                </button>
                            </section>
                        </form>
                    </section>
                    <!-- End Subscribe newsletter -->

                </section>
                <!-- End Left side -->


            </section>



            <hr>
            <p>&copy; به دلیل عدم وجود قانون کپی رایت در ایران، تمام حقوق مادی و معنوی محفوظ نمی باشد !</p>

        </section>
    </footer>
    <!-- End Footer -->


</body>

<script src="{% static 'js/jquery.min.3.3.1.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

{% block extra_scripts %}{% endblock extra_scripts %}

</html>