{% extends 'mails/base.html' %}

{% block title %} تغییر کلمه عبور {{status_text}} {% endblock title %}

{% block content %}

    <h3>تغییر کلمه عبور</h3>
    <h6>سلام!<h6>
    <p>برای تغییر کلمه عبور حساب کاربریت به <a href="{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}">این لینک</a> برو</p>
    <p style="color: gray;">برای کلیک روی لینک مشکلی پیش اومده؟ لینک پایین رو copy و توی مرورگرت paste کن!</p>
    <div style="direction: rtl;text-align: right;">
        <p style="color: gray;">{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}</p>
    </div>

{% endblock content %}
