{% extends 'mails/base.html' %}

{% block title %} دیدگاه شما {{status_text}} {% endblock title %}

{% block content %}

    <h3>دیدگاه شما {{status_text}}</h3>
    <h6>سلام {{comment.user.first_name}} عزیز!<h6>

    <p>
        دیدگاه شما با عنوان <strong>"{{comment.title}}"</strong> برای آموزش <strong>"{{comment.tutorial.title}}"</strong> {{status_text}}
    </p>

    {% if url %}
        <p>اگه خواستی بهش یه نگاه بندازی روی این <a href="{{ url }}">این لینک</a> کلیک کن</p>
    {% endif %}

{% endblock content %}
