{% extends 'mails/base.html' %}

{% block title %} تایید/رد آموزش {{status_text}} {% endblock title %}

{% block content %}

    <h3>تایید/رد آموزش</h3>
    <h6>سلام {{tutorial.author.first_name}} عزیز!<h6>

    <p>
        آموزش شما با عنوان <strong>"{{tutorial.title}}"</strong> {{status_text}}
    </p>
    <p>
        ممنون که به بزرگ تر شدن این جامعه کمک میکنی :)
    </p>

    {% if url %}
        <p>اگه خواستی بهش یه نگاه بندازی روی <a href="{{ url }}">این لینک</a> کلیک کن</p>
    {% endif %}

{% endblock content %}
