@media (min-width:1200px){}
@media (max-width:1200px){}
@media (max-width:992px){
    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -75%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 75%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}
@media (max-width:768px){}

@media (max-width:575px){
    .search-box::placeholder,
    .search-box:-moz-placeholder,
    .search-box::-webkit-input-placeholder{
        font-size: 14px;
    }
    footer ul{
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}


/* ------------------ */
@media (min-width:992px){
    
}
@media (min-width:768px){
    .h-md-100{
        min-height: 100%!important;
    }
}
@media (min-width:575px){
    .h-sm-100{
        min-height: 100%!important;
    }
}
@media (max-width:575px){}


