{% extends 'base.html' %}
{% load static %}
{% load authentication_filters %}
{% load image_utils %}
{% load bleach_tags %}


{% block keywords %}{% if tags %}{{ tags|join:', ' }}{% else %}{{ block.super }}{% endif %}{% endblock keywords %}
{% block description %}{{ tutorial.short_description }}{% endblock description %}

{% block extra_metas %}
    <meta name="author" content="{{ tutorial.author|full_name }}">
{% endblock extra_metas %}

{% block title %} {{ tutorial.title }} {% endblock title %}


{% block content %}
    <section class="container py-6">

    <section class="row">


        <!-- Right side (Tutorial content,comments and ...) -->
        <section class="col-lg-8 col-12">


            <!-- Tutorial content -->
            <section id="tutorial" class="card card-rounded mt-6">

                <!-- Tutorial heading -->
                <section class="tutorial-heading card-header card-rounded-header bg-lightblue pt-0 px-2 border-bottom row mx-0">

                    <!-- Like and dislike -->
                    <section class="w-20 text-center mt-3 mx-0">

                        <!-- UpVotes -->
                        <a id="UpVoteTutorial" class="btn btn-success p-1 m-2">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span id="TutorialUpVotesCount">{{ tutorial.up_votes_count }}</span>
                        </a>
                        <!-- End UpVotes -->

                        <!-- DownVotes -->
                        <a id="DownVoteTutorial" class="btn btn-danger p-1 m-2">
                            <i class="fa fa fa-thumbs-o-down"></i>
                            <span id="TutorialDownVotesCount">{{ tutorial.down_votes_count }}</span>
                        </a>
                        <!-- End DownVotes -->

                    </section>
                    <!-- End Like and dislike -->



                    <!-- Teacher details -->
                    <section class="teacher-image mx-auto text-center h-auto">

                        <!-- Teacher image -->
                        <img src="{{ tutorial.author.avatar|image_url }}" class="d-block" alt="{{ tutorial.author|full_name }}">
                        <!-- End Teacher image -->

                        <!-- Teacher name -->
                        <a href="#">
                            <h3>{{ tutorial.author|full_name }}</h3>
                        </a>
                        <!-- End Teacher name -->

                    </section>
                    <!-- End Teacher details -->



                    <!-- Likes section -->
                    <section class="w-20 text-center mt-3 mx-0">
                        <!-- Likes -->
                        <a id="LikeTutorial" class="btn {% if liked_by_current_user %}btn-danger{% else %}btn-outline-danger{% endif %} p-1 m-2">
                            <i class="fa fa fa-heart"></i> 
                            <span id="TutorialLikesCount">{{ tutorial.likes_count }}</span>
                        </a>
                        <!-- End Likes -->
                    </section>
                    <!-- End section -->

                </section>
                <!-- Tutorial heading -->



                <!-- Tutorial content -->
                <section class=" card-body card-rounded-content bg-white py-5 ">


                    <!-- Tutorial image -->
                    <section class="tutorial-image card-rounded-content overflow-hidden">
                        <img src="{{ tutorial.image|image_url }}" class="w-100" alt="{{ tutorial.title }}">
                    </section>
                    <!-- End Tutorial image -->



                    <!-- Tutorial title -->
                    <section class=" text-center mt-5">
                        <h1>{{ tutorial.title }}</h1>
                    </section>
                    <!-- End Tutorial title -->
                    <hr>

                    <!-- Tutorial text -->
                    <section>
                        <section class="jumbotron">
                            <h4>
                                {{ tutorial.short_description|bleach }}
                            </h4>
                        </section>
                        <p>
                            {{ tutorial.body|bleach }}
                        </p>
                    </section>
                    <!-- End Tutorial text -->


                </section>
                <!-- End Tutorial content -->




            </section>
            <!-- End Tutorial content -->
















            <!-- Recommended tutorials -->
            <section class="card card-rounded mt-5">
                <!-- Recommended tutorials heading -->
                <section class="card-header card-rounded-header bg-lightblue text-center">
                    <h3>آموزش های پیشنهادی</h3>
                </section>
                <!-- End Recommended tutorials heading -->


                <!-- Recommended tutorials body -->
                <section class="card-body card-rounded-content bg-white">




                    <!-- Recommended tutorials carousel -->
                    <section class="owl-carousel owl-carousel-sm owl-theme ">
                        
                        
                        {% for related_tutorial in related_tutorials %}
                            
                            <!-- Recommended tutorials carousel item -->
                            <article>
                                <section class="card card-rounded m-1">

                                    <!-- Carousel image -->
                                    <section class="card-header p-0">
                                        <img src="{{ related_tutorial.image|image_url }}" alt="{{ related_tutorial.title }}" class="mx-auto" style="max-height: 120px;max-width: 100%;width: auto">
                                    </section>
                                    <!-- End Carousel image -->


                                    <!-- Carousel content -->
                                    <section class="card-body p-2">

                                        <!-- Carousel content header -->
                                        <h5>
                                            <a href="{% url 'learning:tutorial' related_tutorial.slug %}">{{ related_tutorial.title }}</a>
                                        </h5>
                                        <!-- End Carousel content title -->


                                        <!-- Carousel content description -->
                                        <p class="text-muted mb-0">
                                            {{ related_tutorial.short_description|truncatewords:5 }}
                                        </p>
                                        <!-- End Carousel content description -->

                                    </section>
                                    <!-- End Carousel content -->

                                </section>
                            </article>
                            <!-- End Recommended tutorials carousel item -->

                        {% empty %}
                            <p class="text-center">هیچ پیشنهادی یافت نشد</p>
                        {% endfor %}



                    </section>
                    <!-- End Recommended tutorials carousel -->


                </section>
                <!-- End Recommended tutorials body -->

            </section>
            <!-- End Recommended tutorials -->





            {% include 'learning/shared/tutorial_comments.html' with comments=comments %}





            <!-- Submit comment -->
            <section class="card card-rounded mt-5 text-center">

                <!-- Submit comment heading -->
                <section class="card-header card-rounded-header bg-lightblue">
                    <h3>ثبت نظر</h3>
                </section>
                <!-- End Submit comment heading -->


                <!-- Submit comment body -->
                <section class="card-body card-rounded-content bg-white text-left">
                    
                    {% if user.is_authenticated %}
                            <form id="TutorialSubmitCommentForm" method="post" action="#">


                                <input type="hidden" id="TutorialId" name="TutorialId" value="{{ tutorial.pk }}">
                                <input type="hidden" id="Comment_Reply_To" name="Comment_Reply_To">


                                <section class="form-group">

                                    <!--Reply alert-->
                                    <section id="ReplyTo-Alert" class="alert alert-success collapse">
                                        <span>در حال پاسخ به نظر 
                                            "<span id="ReplyTo-Alert-CommentTitle"></span>"
                                        </span>
                                        <section class="close" id="Close-ReplyTo-Alert">&times;</section>
                                    </section>
                                    <!--End Reply alert-->


                                    <section class="row">

                                        <!-- Submit comment Email Title,Allow replies,Notify replies -->
                                        <section class="col-md-5">

                                            <!-- Submit comment Title -->
                                            <label for="CommentTitle">عنوان نظر :</label>
                                            <input type="text" id="CommentTitle" name="CommentTitle"
                                                class="form-control" placeholder="عنوان"
                                                oninvalid="this.setCustomValidity('عنوان نظر را وارد کنید')"
                                                onkeydown="this.setCustomValidity('')" required>
                                            <!-- End Submit comment Title -->


                                            <!-- Submit comment Allow replies -->
                                            <label for="AllowReplies" class="mt-3 form-check">
                                                <input type="checkbox" name="AllowReplies" id="AllowReplies" checked>
                                                امکان پاسخ
                                            </label>
                                            <!-- End Submit comment Allow replies -->


                                            <!-- Submit comment Notify replies -->
                                            <label for="NotifyReplies" class="mt-3 form-check">
                                                <input type="checkbox" name="NotifyReplies"
                                                    id="NotifyReplies" checked> اطلاع پاسخ ها با ایمیل
                                            </label>
                                            <!-- End Submit comment Notify replies -->


                                        </section>
                                        <!-- End Submit comment Email Title,Allow replies,Notify replies -->




                                        <!-- Submit comment Text -->
                                        <section class="col-md-7">
                                            <label for="CommentText">متن نظر :</label>
                                            <textarea name="CommentText" id="CommentText" class="form-control tinymce"
                                                placeholder="متن نظر" cols="30" rows="5" maxlength="500"
                                                oninvalid="this.setCustomValidity('متن نظر را وارد کنید')"
                                                onkeydown="this.setCustomValidity('')" required></textarea>
                                        </section>
                                        <!-- End Submit comment Text -->


                                        <!-- Submit comment submit button -->
                                        <button type="submit" id="SubmitCommentBTN" class="btn btn-success col-11 mt-3 mx-auto">ثبت</button>
                                        <!-- End Submit comment submit button -->


                                    </section>
                                </section>
                            </form>
                        

                    {% else %}
                        <p class="text-center">لطفا برای ثبت نظر ابتدا <a href="{% url 'authentication:login' %}?next={{request.get_full_path}}">وارد شوید</a></p>
                    {% endif %}


                </section>
                <!-- End Submit comment body -->


            </section>
            <!-- End Submit comment -->









        </section>
        <!-- End Right side (Tutorial content,comments and ...) -->











        <!-- Left side ( Latest tutorial,Most popular tutorials,Keywords) -->
        <section class="col-lg-4 col-12 my-6">






            <section class="card card-rounded">
                <section class="card-header card-rounded-header bg-lightblue text-center">
                    <h4>جدید ترین آموزش ها</h4>
                </section>

                <section class="card-body card-rounded-content bg-white p-0">


                    {% for tutorial_item in latest_tutorials %}

                        <article class="row mx-0 my-2">

                            <section
                                class="col-4 p-0 px-1 border-right border-left-0  d-flex flex-column justify-content-center">
                                <img src="{{ tutorial_item.image|image_url }}" alt="{{ tutorial_item.title }}" style="max-width: 100%;max-height: 100%;width: 100%;height: auto;">
                            </section>
    
                            <section class="col-8 my-2">
                                <h5>
                                    <a href="{% url 'learning:tutorial' tutorial_item.slug %}">{{ tutorial_item.title }}</a>
                                </h5>
                                <p class="mb-1">
                                    {{ tutorial_item.short_description|truncatewords:5 }}
                                </p>
                            </section>
                        </article>

                    {% endfor %}
                    


                </section>
            </section>






            <section class="card card-rounded mt-4">
                <section class="card-header card-rounded-header bg-lightblue text-center">
                    <h4>محبوب ترین آموزش ها</h4>
                </section>

                <section class="card-body card-rounded-content bg-white p-0">

                    {% for tutorial_item in most_popular_tutorials %}

                        <article class="row mx-0 my-2">

                            <section
                                class="col-4 p-0 px-1 border-right border-left-0  d-flex flex-column justify-content-center">
                                <img src="{{ tutorial_item.image|image_url }}" alt="{{ tutorial_item.title }}" style="max-width: 100%;max-height: 100%;width: 100%;height: auto;">
                            </section>
    
                            <section class="col-8 my-2">
                                <h5>
                                    <a href="{% url 'learning:tutorial' tutorial_item.slug %}">{{ tutorial_item.title }}</a>
                                </h5>
                                <p class="mb-1">
                                    {{ tutorial_item.short_description|truncatewords:5 }}
                                </p>
                            </section>
                        </article>

                    {% endfor %}
                    

                </section>
            </section>





            <section class="card card-rounded mt-4">
                <section class="card-header card-rounded-header bg-lightblue text-center">
                    <h4>دسته بندی ها</h4>
                </section>

                <section class="card-body card-rounded-content bg-white ح-0">
                    {% for category in tutorial.categories.all %}
                        <a href="{% url 'learning:tutorials_archive' %}?category={{ category.name }}" class="rounded bg-light px-2 pt-1 m-1 d-inline-block">{{ category.name }}</a>
                    {% empty %}
                        <p>این آموزش فاقد دسته بندی است</p>
                    {% endfor %}

                </section>
            </section>



            {% if tutorial.tags %}
                <section class="card card-rounded mt-4">
                    <section class="card-header card-rounded-header bg-lightblue text-center">
                        <h4>کلمات کلیدی</h4>
                    </section>

                    <section class="card-body card-rounded-content bg-white ح-0">
                        {% for tag in tags %}
                            <a href="{% url 'learning:tutorials_archive' %}?search={{ tag.title }}" class="rounded bg-light px-2 pt-1 m-1 d-inline-block">{{ tag.title }}</a>
                        {% empty %}
                            <p>این آموزش فاقد کلمه کلیدی است</p>
                        {% endfor %}

                    </section>
                </section>
            {% endif %}




        </section>
        <!-- End Left side ( Latest tutorial,Most popular tutorials,Keywords) -->



    </section>

</section>



<input type="hidden" id="TutorialId" value="{{ tutorial.pk }}">



{% endblock content %}



{% block extra_scripts %}

<script src="{% static 'js/sweetalert2.js' %}"></script>

{% if user.is_authenticated %}
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'learning/js/tutorial.js' %}"></script>
    {% include 'shared/tinymce_partial.html' %}
{% else %}
    <script>
        document.getElementById('UpVoteTutorial').addEventListener('click',() =>AccessDenied());
        document.getElementById('DownVoteTutorial').addEventListener('click',() => AccessDenied());
        document.getElementById('LikeTutorial').addEventListener('click',() => AccessDenied());

        function AccessDenied()
        {
            Swal.fire({
                title:'لطفا برای انجام این عملیات ابتدا وارد شوید',
                icon : 'error',
                confirmButtonText: 'تایید',
                timer:3000
            });
        }
    </script>
{% endif %}

{% endblock extra_scripts %}
