{% extends 'authentication/shared/base.html' %}

{% block title %}خروج از حساب کاربری{% endblock title %}

{% block auth_content %}

    <section class="text-center overflow-hidden py-5">
        <section class="pb-2">
            <h2>با تشکر از همراهی شما</h2>
            <h5>با موفقیت از وبسایت خارج شدید</h5>
        </section>

        <a href="{% url 'authentication:login' %}" class="btn btn-success">ورود مجدد</a>
        <a href="{% url 'learning:home' %}" class="btn btn-primary">صفحه اصلی</a>
    </section>

{% endblock auth_content %}
