{% extends 'authentication/shared/base.html' %}

{% block title %}فراموشی کلمه عبور{% endblock title %}

{% block auth_content %}

    <section class="text-center overflow-hidden py-5">
        <section class="pb-2">
            <h2>فراموشی کلمه عبور</h2>
            <h5>در صورت صحیح بودن ایمیل لینک تغییر گذرواژه برای شما ارسال خواهد شد</h5>
            <p style="color: gray;">توجه: در صورتی که آن را دریافت نکرده اید پوشه spam/junk ایمیل خود را چک کنید</p>
        </section>
        <a href="{% url 'learning:home' %}" class="btn btn-primary">صفحه اصلی</a>
    </section>

{% endblock auth_content %}
