{% extends 'authentication/shared/base.html' %}

{% block title %}ثبت نام{% endblock title %}

{% block auth_content %}

    <section class="text-center overflow-hidden">

        <!-- Change Login Register Buttons -->
        <section id="login-register-buttons" class="mx-auto col-lg-8 col-md-10 mt-5">
            <section class="row position-relative h-100">
                <button type="button" class="w-50 h-100" id="login-button">ثبت نام</button>
                <button type="button" class="w-50 h-100" id="login-button">
                    <a href="{% url 'authentication:login' %}?next={{next}}" class="d-block">ورود</a>
                </button>
                <section class="w-50 h-100 right-0" id="active-login-register"></section>
            </section>
        </section>
        <!-- End Change Login Register Buttons -->


        <!-- Login Register Section -->
        <section id="register-login-forms">
            <section class="row mx-0">

                <!-- Login Form -->
                <form action="{% url 'authentication:register' %}" method="POST">

                    {% csrf_token %}
                    <input name="next" value="{{ next }}" type="hidden">


                    <section class="col-8 form-group text-left mx-auto mt-4">
                        <section class="row">

                            {% if form.non_field_errors %}
                                <section class="alert alert-danger w-100">
                                    {{ form.non_field_errors }}
                                </section>
                            {% endif %}

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input"
                                    placeholder="{{ form.first_name.label }}" name="first_name"
                                    {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}>
                                <span class="text-danger"> {{ form.first_name.errors }} </span>
                            </section>

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input"
                                    placeholder="{{ form.last_name.label }}" name="last_name"
                                    {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}>
                                <span class="text-danger"> {{ form.last_name.errors }} </span>
                            </section>

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input"
                                    placeholder="{{ form.username.label }}" name="username"
                                    {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                                <span class="text-danger"> {{ form.username.errors }} </span>
                            </section>

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input"
                                    placeholder="{{ form.email.label }}" name="email" type="email"
                                    {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                                <span class="text-danger"> {{ form.email.errors }} </span>
                            </section>

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input" type="password"
                                    placeholder="{{form.password1.label }}" name="password1">
                                <span class="text-danger"> {{ form.password1.errors }} </span>
                            </section>

                            <section class="w-100">
                                <input class="w-100 mt-3 account-input" type="password"
                                    placeholder="{{form.password2.label }}" name="password2">
                                <span class="text-danger"> {{ form.password2.errors }} </span>
                            </section>


                            <button type="submit" class="col-10 mx-auto mt-4 account-submit">ثبت نام</button>
                        </section>
                    </section>
                </form>
                <!-- End Login Form -->

            </section>
        </section>
        <!-- End Login Register Section -->

    </section>

{% endblock auth_content %}
