[MASTER]
disable=
    missing-docstring,
    W0614,
    wildcard-import,
    too-few-public-methods,
    protected-access

max-line-length=79
load-plugins=pylint_django
django-settings-module=core.settings
ignore=migrations
