[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2"
bleach = ">=3.3.0"
django-bleach = ">=0.6.1"
django-debug-toolbar = ">=3.2.1"
django-lifecycle = ">=0.9.1"
pillow = ">=8.1.2"
psycopg2 = ">=2.8.6"
python-decouple = ">=3.4"
django-filter = ">=2.4.0"
python-json-logger = ">=2.0.1"
jdatetime = ">=3.6.2"
django-tables2 = ">=2.4.0"
django-crispy-forms = ">=1.11.2"
django-tinymce = ">=3.3.0"
django-resized = ">=0.3.11"
django-constance = {version = ">=2.8.0", extras = ["redis"]}

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
